# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# macOS
.DS_Store

# VS Code
.vscode/

# JetBrains
.idea/

# Local environment variables
.env
.env.local
/.gem_rbs_collection/