body {
  background-color: #c0c0c0;
  font-family: "Courier New", Courier, monospace; 
  padding: 20px;
}

* {
  border-radius: 0 !important;
}

input, button, textarea {
  border: 1px solid #000;
  background-color: #fff;
  padding: 5px 10px;
  font-family: inherit;
}

button, input[type="submit"] {
  background-color: #f4f4f4;
  cursor: pointer;
}

.container {
  max-width: 800px;    
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid #000;
  padding: 20px;
}

/* Вікно з повідомленнями */
#messages {
  border: 2px solid #000;
  height: 400px;
  overflow-y: scroll; /* Додає жорстку полосу прокрутки */
  overflow-x: hidden;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff;
}

/* Base style for all messages */
.chat-bubble {
  border: 1px solid #000;
  background-color: #e0e0e0;
  padding: 8px 12px;
  margin-bottom: 10px;
  width: fit-content;
  max-width: 70%;
  overflow-wrap: anywhere;
  word-break: break-word;
}

/* Modifier applied by Stimulus for your own messages */
.chat-bubble.my-message {
  background-color: #292929;
  color: #fff;

}

/* Список кімнат */
#rooms {
  border: 2px solid #000;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: #fff;
}

#rooms div {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #000;
}

#rooms div a {
  text-decoration: none;
  color: #000;
}

#rooms div a:hover {
  background-color: #000;
  color: #fff;
}

form {
  display: flex;
  gap: 10px;
  width: 100%;
}

form input[type="text"] {
  flex-grow: 1;
}

form#new_user {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
  align-items: end;
  width: 100%;
  max-width: 400px;
}


.dropdown {
  position: relative; /* Anchors the menu to the dots */
}

/* Hide the default browser arrow next to the summary */
.dropdown summary {
  list-style: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute; /* Floats the menu */
  right: 0;           /* Aligns it to the right edge of the dots */
  top: 100%;          /* Pushes it right below the dots */
  
  background: white;
  border: 1px solid black;
  min-width: 120px;
  z-index: 10;        /* Ensures it stays on top of other messages */
}

.dropdown-menu a {
  display: block;
  padding: 8px;
  color: black;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background: #e0e0e0;
}

.dots-btn {
  display: inline-block;
  transform: rotate(90deg);
  font-size: 14px;
}